@use './styles/variables' as *;

body {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $text-on-primary;
}

.app-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media (max-width: $bp-sm) {
  .app-main {
    padding: 15px;
  }
}


